li{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}
#title{
    font-size: 50px;
    color:#fff;
    font-weight: bold;
}
.subtitulos{
    font-size: 35px;
    color: #fff;
    font-weight: 500;
}
body{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    color:#fff;
    background-color: #007c91;
}