.container{
    display: flex;
    flex-direction: column;
    background-color: #007c91;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
}
.title{
    font-size: 4rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
}
.subtitle{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
.input{
    width: 80vw;
    padding-left: 3%;
    padding-right: 3%;
    border-width: 2%;
    border-color: rgba(0, 0, 0, 0.539);
    border-radius: 3%;
    border-style:solid;
}
.button{
    width: 95%;
    padding: 10px;
    margin: 15px;
    border-radius: 7px;
    background-color: #4cb2c9;
    color: #fff;
    cursor: pointer;
}
.botonera{
    display: flex;
}

@media (max-width:768px){
    .botonera{
        display: flex;
        flex-direction: column;
    }  
    .button{
        margin: 0%;
        width: 85vw;
    }  
}

/*
    padding: 10%  Porcentaje del tamaño del contenedor.;
    padding: 10vw Porcentaje del ancho de la ventana gráfica.;
    padding: 10vh  Porcentaje del alto de la ventana gráfica.
    padding: 10em  Tamaño de fuente relativo al tamaño de fuente del elemento padre.
    padding: 10rem  Tamaño de fuente relativo a la raíz del documento.
*/